/* CONFIGURAÇÃO GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Oxygen Mono', monospace;
}

/* CONFIGURAÇÃO DE PLANO DE FUNDO */

body {
  background-image: url('../img/gradient.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* CONFIGURAÇÃO DO MENU */

.menu {
  position: fixed;
  top: 0;
  width: 100vw;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.menu ul li {
  float: left;
}

.menu ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

.menu ul li a:hover {
  background-color: red;
}

/* CONFIGURAÇÃO DA HOME */

.home-section {
  display: flex;
  margin: 70px;
  justify-content: space-between;
  background-color: black;
}

.caixa-grande-esquerda, .caixa-grande-direita {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: center;
  background-color: red;
}

.caixa-grande-esquerda {
  flex-direction: column;
  width: 700px;
  height: 700px;
}

.caixa-grande-direita {
  flex-direction: column;
  width: 700px;
  height: 700px;
}

.caixa-media-a, .caixa-media-b {
  width: 600px;
  height: 300px;
  margin: 20px;
  background-color: black;
}

.caixa-media-b {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}

.caixa-media-c {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 300px;
  margin: 20px;
  background-color: black;
}

.caixa-media-d {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 300px;
  margin: 20px;
  background-color: white;
}

/* CONFIGURAÇÕES DE TEXTO */

.texto-caixa-media-c {
  margin: 20px;
  font-size: 24px;
  text-align: center;
}

.texto-caixa-media-b {
  font-size: 22px;
  margin: 20px;
  margin-right: 100px;
  text-align: justify;
}

.div-contatos {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONFIGURAÇÕES DOS ÍCONES SVG'S */

.icons {
  padding: 20px;
  opacity: 0.4;
}

.icons:hover {
  opacity: 1.0;
}

/* CONFIGURAÇÕES DO TEXTO COM JS */

.hidden {
  opacity: 0;
}

.console-container {
  font-size: 4em;
  text-align: center;
  height: 200px;
  width: 600px;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}