* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Oxygen Mono', monospace;
}

body {
  background-image: url('../img/creative.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* NAVIGATION BAR */

.menu {
  position: fixed;
  top: 0;
  width: 100vw;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu ul li {
  float: left;
}

.menu ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: orange;
}

.menu ul li a:hover {
  color: #333;
  background-color: #FFEBCD;
}

/* HOME SECTION */

.home-section {
  display: flex;
  margin: 70px;
  justify-content: space-between;
}

/* DIV DA HOME SECTION */

.caixa-grande-esquerda, .caixa-grande-direita {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

/* DIV DAS CAIXAS GRANDES */

.caixa-grande-esquerda {
  flex-direction: column;
  width: 700px;
  height: 700px;
}

.caixa-grande-direita {
  width: 900px;
  height: 700px;
}

.caixa-media-a, .caixa-media-b {
  width: 600px;
  height: 300px;
  margin: 20px;
}

.caixa-media-b {
  display: flex;
  align-items: center;
  justify-content: center;
  background: orange;
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}

.caixa-media-c {
  width: 800px;
  height: 600px;
  margin: 20px;
}

/* TÍTULO DA HOME */

h1 {
  font-size: 60px;
}

h2 {
  font-size: 35px;
}

h1, h2 {
    color: orange;
}

/* MINHA HISTÓRIA */

.minha-historia {
  margin: 20px;
  font-size: 40px;
  color: greenyellow;
}

/* FRASE MOTIVACIONAL */

.frase {
  font-size: 22px;
  color: rgb(34, 33, 33);
  margin: 20px;
  margin-right: 100px;
  text-align: justify;
}

.minha-historia, .frase {
  text-align: justify;
}

.contatos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  padding: 15px;
  opacity: 0.4;
}

.icons:hover {
  opacity: 1.0;
}

.hidden {
  opacity:0;
}
.console-container {
 
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px; 
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}